.error{
    display: flex;
    justify-content: center;
    align-items: center;
}
.country-component{
    padding: 2rem 0;
    width: 100%;
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4,1fr);
    background-color: var(--Very-Light-Gray);
}
.country-component.Dark{
    background-color: var(--Very-Dark-Blue);
    color: var(--White);
}
.country{
    border-radius: 1rem;
    background-color: var(--White);
    margin: 1rem;
    margin-left: 3rem;
    height: 450px;
    width: 350px;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 5px 15px;
}
.country.Dark{
    background-color: var(--Dark-Blue);
}
img{
    width: 100%;
    height: 50%;
    border-radius: 1rem 1rem 0 0 ;
    object-fit: fill;
}
.content{
    padding: 2rem 1rem;
    background-color: var(--White);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.content.Dark{
    background-color: var(--Dark-Blue);
    color: var(--White);
}

span{
    font-weight: lighter;
   
}
.display-text{
    font-size: 2.5rem;
    text-align: center;
    margin: 0 auto;
    /* border: solid 2px green; */
    text-wrap: nowrap;
}
