.filter{
    padding: 1rem 2rem;
    background-color: var(--White);
    border-radius: 0.5rem;
}
.filter.Dark{
    background-color: var(--Dark-Blue);
}

select{
    border-style: none;
    background-color: var(--White);
    outline: none;
    color: var(--Black)
}
.Dark select{
    color: var(--White);
    background-color: var(--Dark-Blue);
}
