.headerComponent{
    background-color: var(--White);
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
}
.headerComponent.Dark{
    background-color: var(--Very-Dark-Blue);
    color: var(--White);
}
.header{
    font-size: 2rem;
}
.dark-mode{
    font-size: 1.1rem;
    font-weight: 600;
}

.icon-container{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
