.country-info {
  display: flex;
  flex-direction: column;
  padding: 2rem 4rem;
  height: 92vh;
  background-color: rgb(221, 233, 245);
}
.country-info.Dark{
    background-color: var(--Very-Dark-Blue);
    color: var(--White);
}
.back-btn {
  margin-bottom: 2rem;
  padding: 0.5rem 0;
  width: 8rem;
  background-color: var(--White);
  border: none;
  border-radius: 0.3rem;
}
.back-btn.Dark{
    background-color: var(--Dark-Blue);
    color: var(--White);
}
.country-details {
  padding: 2rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.country-details img {
  height: 100%;
  border-radius: 0.5rem;
}

.country-detail {
    margin-left: 4rem;
    display: flex;
    flex-direction: column;
    padding: 3rem 2rem;
    gap: 2rem;
}
.info{
    display: flex;
    justify-content: space-between;
    line-height: 2rem;
}
.border-countries{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.borderLinks{
    padding: 0.2rem 0.5rem ;
}
