.search{
    padding: 1rem 2rem;
    background-color: var(--Very-Light-Gray);
    border-radius: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}
.search.Dark{
    background-color: var(--Dark-Blue);
    color: var(--White);
}
input{
    border-style: none;
    outline: none;
    background-color: inherit;
    color: var(--Dark-Gray);
}
.search.Dark ::placeholder{
    color: var(--White);
}
