@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap"); 
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --Dark-Blue: hsl(209, 23%, 22%);
  --Very-Dark-Blue: hsl(207, 26%, 17%);
  --Very-Dark-Blue-Dark: hsl(200, 15%, 8%);
  --Dark-Gray: hsl(0, 0%, 52%);
  --Very-Light-Gray: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}
body{
  font-weight: 400;
  font-family: "Nunito Sans" , "Sans-Serif";
  background-color: var(--Very-Light-Gray);
}

.inputComponent{
    padding: 2rem;
    /* margin-top: 2rem; */
    display: flex;
    justify-content: space-between;
    
}
.inputComponent.Dark{
    background-color: var(--Dark-Blue);
}
